<h2 class="confirmation-heading">Resend confirmation instructions</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: 'confirmation-form' }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label :email, class: "form-label" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "form-control" %>
  </div>

  <div class="form-actions">
    <%= f.submit "Resend confirmation instructions", class: "btn-primary" %>
  </div>
<% end %>

<div class="confirmation-links">
  <%= render "devise/shared/links" %>
</div>
