<h1 class="cart-title">Your Cart</h1>

<% if @cart.cart_items.any? %>
  <table class="cart-table">
    <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @cart.cart_items.each do |item| %>
      <tr>
        <td class="product-name"><%= item.product.name %></td>
        <td class="quantity-column">
          <div class="quantity-controls">
            <%= button_to '-', cart_item_path(item, quantity: item.quantity - 1), method: :patch, class: 'btn-quantity' %>
            <span class="quantity-display"><%= item.quantity %></span>
            <%= button_to '+', cart_item_path(item, quantity: item.quantity + 1), method: :patch, class: 'btn-quantity' %>
          </div>
        </td>
        <td class="price"><%= number_to_currency(item.product.price) %></td>
        <td class="total"><%= number_to_currency(item.product.price * item.quantity) %></td>
        <td class="actions">
          <%= link_to 'Remove', cart_item_path(item), method: :delete, class: "btn-remove" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <div class="cart-summary">
    <p class="total-price">Total: <%= number_to_currency(@cart.cart_items.sum { |item| item.product.price * item.quantity }) %></p>
    <div class="checkout-button">
      <%= link_to 'Proceed to Checkout', checkout_path, class: "btn-checkout" %>
    </div>
  </div>
<% else %>
  <p class="empty-cart">Your cart is empty.</p>
<% end %>
