<h1 class="new-product__title text-center">Add New Product</h1>

<div class="new-product container">
  <%= form_with(model: @product, local: true, class: "new-product__form") do |form| %>
    <% if @product.errors.any? %>
      <div class="new-product__errors alert alert-danger">
        <h4><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h4>
        <ul>
          <% @product.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <!-- Image Preview -->
    <div id="image-preview" class="new-product__image-preview">
      <img id="imagePreview" src="#" alt="Image Preview" style="display: none; max-width: 100%; height: auto;" />
    </div>

    <div class="new-product__field">
      <%= form.label :name, class: "new-product__label" %>
      <%= form.text_field :name, class: "new-product__input" %>
    </div>

    <div class="new-product__field">
      <%= form.label :image, class: "new-product__label" %>
      <%= form.file_field :image, id: "product_image", class: "new-product__input" %>
    </div>

    <div class="new-product__field">
      <%= form.label :description, class: "new-product__label" %>
      <%= form.text_area :description, class: "new-product__input new-product__input--textarea" %>
    </div>

    <div class="new-product__field">
      <%= form.label :price, class: "new-product__label" %>
      <%= form.number_field :price, step: 0.01, class: "new-product__input" %>
    </div>

    <div class="new-product__field">
      <%= form.label :stock, class: "new-product__label" %>
      <%= form.number_field :stock, class: "new-product__input" %>
    </div>

    <!-- Category Selection -->
    <div class="new-product__field">
      <%= form.label :category_name, class: "new-product__label" %>
      <%= form.text_field :category_name, id: "category_name", class: "new-product__input", placeholder: "Start typing category name..." %>
      <ul id="category_suggestions" class="suggestions-list"></ul>
    </div>

    <!-- Hidden Field for category_id -->
    <%= form.hidden_field :category_id, id: "product_category_id" %>

    <div class="new-product__actions">
      <%= form.submit "Create Product", class: "new-product__submit" %>
      <%= link_to 'Back', products_path, class: "new-product__back-link" %>
    </div>
  <% end %>
</div>

<%= javascript_include_tag 'packs/new_product' %>
